<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Registrasi Customer</title>
</head>
<body>
    <h3>Registrasi Customer</h3>
    <br><br>
    <form method="POST" action="/customer/registrasi">
        <label> Name:</label>
            <input type="text" name="name" placeholder="Nama" autofocus><br>
        <label> Email:</label>
            <input type="text" name="email" placeholder="Email"><br>
        <label> No Handphone :</label>
            <input type="text" name="phone" placeholder="Phone"><br><br>
        <input type="submit" value="submit">
    </form>
    
</body>
</html>