<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Home - Reservation Badminton</title>
</head>
<body>
    <h3>Reservation Badminton</h3>
    <a href = "/customer/registrasi">Register</a>
    <a href = "/customer/registrasi">Reservasi</a>

    
</body>
</html>