<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>All Customer</title>
</head>
<body>
    <h1>Login</h1>
    <form method="post">
    Id:<br>
    <input type="text" name="id">
    <br>
    Phone<br>
    <input type="text" name="phone">
    <br>
    Lapangan<br>
    <br>
    <select name="CourtId">
    <% courts.forEach(function(court){ %>
        <option value="<%= court.id %>"><%= court.name %></option>
    <% }) %>
    </select>
   
    <br><br>
    <input type="submit" value="Login">
</form>
</body>
</html>