<%- include('template/header') %>

<div class="container">
    <div class="row">
        <div class="col-sm-3">
                <% if(user) { %>
                    <%- include('template/user') %>
                    <%- include('template/menu') %>
                  <% } %> 
        </div>
        <div class="col-sm-9">
            <h3>Sign In</h3>
            <form method="POST" action="/user/signin">
                <label>Email :</label>
                <input type="text" name="email" class="form-control mb-3" placeholder="Your Email">
                <label>Password :</label>
                <input type="password" name="password" class="form-control mb-3" placeholder="Your Password">
                <input type="submit" class="btn btn-success right" value="Sign In">
            </form>
        </div>
    </div>
</div>
<%- include('template/footer') %>